.book-detail-container {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 50px; 
  }
  
  .book-detail-content {
    display: grid;
    grid-template-columns: 200px 1fr; 
    grid-gap: 20px;
  }
  
  .book-detail-image img {
    max-width: 100%;
    height: auto;
  }
  
  .book-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
  .book-detail-title {
    font-size: 24px;
    margin-bottom: 10px; 
  }
  
  .book-detail-description {
    font-size: 16px; 
    margin-top: auto; 
  }
  